.nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #292828;
  align-items: center;

}
.buscador button{
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.buscador input{
  background-color: transparent;
  height: 20px;
  color:white;
  font-size: 20px;
  font-weight: 300;
border-bottom: 2px solid white !important;
border: none;
outline: none;

}

.buscador input::placeholder{
  color: rgba(255, 255, 255, 0.411); 
  font-size: 20px; 
}
.sticky-nav {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  width: 100%;
}
.logo{
  display: flex;
  align-items: center;
}
.logo img{
  height: 60px;
  background-color: none;
}

.buscador {
  margin: 10px 15px;
  height: 20px
}

.dropbtn {
  background-color: #292828;
  color: white;
  padding: 16px;
  font-size: 17px;
  border: none;
  font-weight: 300;

}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-weight: 300;

}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #80808060;
  transition-timing-function: ease-out;

  /* A litttttle slower on the way in */
  transition: 0.5s;
  
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: black;
}

.menu {
  display: inline;
}

.user-cart{
  display: flex;
  align-items: center;
}
.user,.cart{
  padding: 10px;
  font-size: 25px;
  text-decoration: none;
}